TEXTAREA {
	BACKGROUND-COLOR: #ffffcc
}
A:hover {
	COLOR: #0066ff
}
A:visited {
	COLOR: #000000
}
HTML {
	SCROLLBAR-FACE-COLOR: #ebf5ff; SCROLLBAR-HIGHLIGHT-COLOR: #ebf5ff; SCROLLBAR-SHADOW-COLOR: #ebf5ff; SCROLLBAR-3DLIGHT-COLOR: #78aaff; SCROLLBAR-ARROW-COLOR: black; SCROLLBAR-TRACK-COLOR: #f3f3f3; SCROLLBAR-DARKSHADOW-COLOR: #78aaff; SCROLLBAR-BASE-COLOR: #ebf5ff
}
BODY {
	SCROLLBAR-FACE-COLOR: #ebf5ff; SCROLLBAR-HIGHLIGHT-COLOR: #ebf5ff; SCROLLBAR-SHADOW-COLOR: #ebf5ff; SCROLLBAR-3DLIGHT-COLOR: #78aaff; SCROLLBAR-ARROW-COLOR: black; SCROLLBAR-TRACK-COLOR: #f3f3f3; SCROLLBAR-DARKSHADOW-COLOR: #78aaff; SCROLLBAR-BASE-COLOR: #ebf5ff
}
